.containerPrincipal {
    position: absolute;
      left: 50%;
      top: 25%;
      transform: translate(-50%, -50%);
      border: 3px solid rgb(0, 136, 255);
      padding: 40px;
      background-color: white;
  }
  
  .containerSecundario{
    text-align: center;
  }
  .containerPrincipalTable {
    position: absolute;
      left: 50%;
      top: 80%;
      transform: translate(-50%, -50%);
      border: 3px solid rgb(0, 136, 255);
      padding: 40px;
      background-color: white;
  }
  
  .containerSecundarioTable{
    text-align: center;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }